* {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(aqua,yellow);
}

#logo {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes logo {
    100% {
        transform: rotate(-180deg)
    }

    50% {
        transform: rotate(-180deg)
    }
}

#logo:hover {
    animation: math 2s ease-in-out;
}

h1 {
    color: rebeccapurple;
    background-color: darkgrey;
    font-size: 5rem;
    margin: 25px;
    transition: color 1s ease-in-out;
    text-align: center;
}

h1:hover {
    color: white;
    background-color: black;
}

#magic {
    font-size: 3rem;
    margin: 25px;
    text-align: center;
}

@keyframes magic {
    0% {
        color: crimson;
        background-color: limegreen;
        font-size: 3rem;
    }
    25% {
        color: orange;
        background-color: dodgerblue;
        font-size: 3.5rem;
    }
    50% {
        color: royalblue;
        background-color: orangered;
        font-size: 4rem;
    }
    75% {
        color: white;
        background-color: black;
        font-size: 4.5rem;
    }
    100% {
        color:greenyellow;
        background-color: aqua;
        font-size: 5rem;
    }
}

p:hover{
    animation: magic 3s ease-in-out;
}

footer {
    justify-self: center;
}

#math {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

@keyframes math {
    50% {
        transform:rotate(180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

#math:active {
    animation: math 2s ease-in-out;
}